ul{
  list-style: none;

}

li{
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  background-color: #8888 ;
  border-radius: 5px;
  cursor: pointer;
}

body{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.active-link{
  font-weight: bold;
  color: red;
  text-decoration: underline;
  
}

button{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #45a049;
}
button:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}